<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Home</a>
  </li>
  <li class="breadcrumb-item">
    <a href="/articles">Blogs</a>
  </li>
  <li class="breadcrumb-item active">Blog
    <%= @article.id %></li>
</ol>
<div class="row">
  <div class="col-md-12">
    <div class="card-body">
      <h4 class="card-title">
        <%= link_to article_path(@article.id), class: "card-title" do %>
        <%= @article.title %>
        <% end %>
      </h4>
      <h6 class="card-subtitle mb-2 text-muted"><%= @article.user.name %></h6>
      <p class="card-text"><%= @article.body %></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to edit_article_path(@article.id), class: 'btn btn-primary' do %>
    <%= fa_icon "pencil" %>
    Edit
    <% end %>
    <%= link_to articles_path, class: 'btn btn-primary' do %>
    <%= fa_icon "chevron-circle-left" %>
    Back
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card  mt-3">
      <h4 class="text-primary mt-3 ml-3">Comments:</h4>
      <ul class="card-body">
        <% @article.comments.each do |comment| %>
        <li><%= comment.body %></li>
        <h7 class="card-subtitle text-muted"><%= comment.user.name %></h7>
        <% end %>
      </ul>
    </div>
  </div>
</div>
